<div style="max-width: 1000px; margin: 0 auto; padding-bottom: 100px;">
  <h1 style="text-align: center;">Movie Title</h1>
  <div style="position: relative; padding-bottom: 70%; padding-top: 30px; height: 0; overflow: hidden;" class="card bg-secondary">
    <div class="card-header bg-secondary">
      <p>Category: </p>
      <p>Movie Info: (movie detail link)</p>

    </div>
    <div class="card-body">
      <video class="object-fit-contain" loop muted controls class="w-100" >
        <source src="" type="video/mp4">
      </video>
    </div>
    <div class="card-body bg-secondary text-end">
      <a href="#" class="text-white me-3"><span>To stream or download, please sign in!</span></a>
      <a href="#" class="btn btn-outline-warning me-3" [routerLink]="['/user/buy']">Premium Packages</a>
      <a href="#" class="btn btn-success">Download</a>

    </div>
  </div>
</div>


<!-- <div class="container my-5 bg-dark">
  <h3 class="text-warning">Movie Title</h3>
  <div class="row">
    <p class="text-white">Category: </p>
    <p class="text-white">Movie Info: (movie detail link)</p>
    <div class="col-mx-10">
      <button type="submit" class="btn btn-danger">Report</button>
    </div>

  </div>



  <div class="container text-center w-75 align my-5">
    <div class="card">
      <div class="card-header bg-secondary">
        <div class="card-title text-light text-start">Movie</div>
      </div>
      <div class="card-body bg-dark">
        <video class="object-fit-contain" loop muted controls class="w-100" >
          <source src="" type="video/mp4">
        </video>
      </div>


      <div class="card-body bg-secondary text-end">
        <a href="#" class="text-white me-3"><span>To stream or download, please sign in!</span></a>
        <a href="#" class="btn btn-outline-warning me-3" [routerLink]="['/user/buy']">Premium Packages</a>
        <a href="#" class="btn btn-success">Download</a>

      </div>

      <div class="card-body bg-secondary text-start">

      </div>
    </div>


  </div>


</div> -->

<!-- <video controls>
  <source src="https://drive.google.com/uc?id=1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o/preview" type="video/mp4">
  Your browser does not support the video tag.
</video>

https://drive.google.com/file/d/1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o/preview

https://drive.google.com/uc?id=1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o -->
