<div class="container my-5 bg-dark">
  <h3 class="text-warning">Movie Title</h3>
  <div class="row">
    <p class="text-white">Category: </p>
    <p class="text-white">Movie Info: (movie detail link)</p>
  </div>

  <div class="container text-center w-75 align my-5">
    <div class="card">
      <div class="card-header bg-secondary">
        <div class="card-title text-light text-start">Movie</div>
      </div>
      <div class="card-body bg-dark">
        <video class="object-fit-contain" loop muted controls class="w-100" >
          <source src="" type="video/mp4">
        </video>
      </div>


      <div class="card-body bg-secondary text-end">
        <a href="#" class="btn btn-outline-warning" [routerLink]="['/user/buy']">Premium Packages</a>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <p>For streaming or downloading this video, please sign in first!</p>
      </div>

    </div>

  </div>


</div>

<!-- <video controls>
  <source src="https://drive.google.com/uc?id=1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o/preview" type="video/mp4">
  Your browser does not support the video tag.
</video>

https://drive.google.com/file/d/1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o/preview

https://drive.google.com/uc?id=1O68UmV1d1Cg1arQzwOEum7H8rgL8WE9o -->
