<div class="container offset-8">
  <form form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row">
        <div class="col-6">
          <input formControlName="keyword" type="text" placeholder="Search here...." class="me-7">
          <button (click)="search()" class="btn btn-outline-primary">
            <i class="bi bi-search"></i>Search
          </button>
        </div>
    </div>
  </form>
</div>

  <div class="container">
    <h3 class="text-info">Movie List</h3>
    <div class="row" >
      <div class="col-md-4" *ngFor="let movie of movies">
        <div class="card mb-3">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <div class="card-title">{{movie.title}}</div>
            <p class="card-text">{{movie.publisher}}</p>
  
            <div class="d-flex justify-content-between">
              <small class="card-text">${{movie.actor}}</small>
              <small class="card-text">{{movie.actress}}</small>
            </div>
            <a class="btn btn-outline-primary" [routerLink]="['/user/movie-details']" [queryParams]="{id: movie.id}">Details</a>
          </div>
        </div>
  
      </div>
    </div>
  </div>


