<div class="container">
  <h3 class="bg-info">Admin Dashboard</h3>
  <!-- <a [routerLink]="['/user-list']" routerLinkActive="router-link-active" ]>User List</a>
   -->
   <div class="row">
    <div class="col bg-primary">
      Column One
     </div>
     <div class="col bg-success">
      Column Two
     </div>
     <div class="col bg-danger">
      Column Three
     </div>
     <div class="col bg-warning">
      Column Four
     </div>
     <div class="col bg-success">
      Column Five
     </div>

   </div>
</div>
<router-outlet></router-outlet>
