<!-- <h3>Uploader List</h3>
<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead >
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="(users$ | async) as users">

      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.role}}</td>
        <td>
          <a href="#" class="btn btn-sm btn-danger">
            <i class="bi bi-trash"></i>
            Delete
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div> -->
