<!-- <nav [ngClass]="{'navbar-dark': isValue, 'bg-dark': isValue }" class=" navbar navbar-expand shadow"> -->
<nav class=" navbar navbar-expand shadow">
  <div class="container">
    <a [routerLink]="['/uploader/home']" class="navbar-brand">Movie Streaming</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/uploader/home']" class="nav-link">
          <i class="bi bi-person rounded"></i> profile
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/uploader/upload']" routerLinkActive="active" class="nav-link">
          <i class="bi bi-plus-circle"></i> upload
        </a>
      </li>
      <li class="nav-item">
        <button (click)="changeMode()" class="nav-link">
          <i class="bi bi-moon-stars-fill"></i>Mode</button>
      </li>
    </ul>
  </div>
</nav>