<div class="watch-history">
    <h3>userHistory</h3>
 
    <div class="row">
       <div class="col-sm-5">
          <div class="container text-center w-10 align my-3">
             <div class="card rounded shadow">
                <div class="card-header bg-secondary">
                   <div class="card-title text-light text-start">Movie</div>
                </div>
                <div class="card-body">
                   <video class="object-fit-contain" loop muted controls class="w-100">
                      <source src="" type="video/mp4">
                   </video>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-5">
          <div class="card mb-4">
             <div class="card-body">
                <div class="row-4">
                   <div class="col-sm-5">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                         checked>
                      <label class="form-check-label" for="flexRadioDefault1"> Watched History</label>
                   </div>
                   <hr>
                   <div class="row-2">
                      <div class="col-sm-5">
                         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            checked>
                         <label class="form-check-label" for="flexRadioDefault1">Clear watch History</label>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
 
