

<div class="container my-5 w-50">
  <div class="card rounded shadow">
    <div class="card-header">
      <h4><i class="bi bi-file-arrow-up-fill"></i> Sign up</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="signupForm">
          <app-form-group [valid]="signupForm.get('name')!.valid" label="UserName">
            <input formControlName="name" type="email" class="form-control" placeholder="Enter your name">
          </app-form-group>

          <app-form-group [valid]="signupForm.get('email')!.valid" label="Email">
            <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
          </app-form-group>

          <app-form-group [valid]="signupForm.get('password')!.valid" label="Password">
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </app-form-group>

          <div *ngIf="uploader">
            <app-form-group [valid]="signupForm.get('password')!.valid" label="Transaction Number">
              <input formControlName="transaction" type="tel" class="form-control" placeholder="Transaction Number">
            </app-form-group>
            <input type="hidden" [formControlName]="'role'" value="uploader">
          </div>

          <div class="d-flex" *ngIf="!admin">
            <button type="submit" class="btn btn-sm btn-outline-primary" (click)="SignUp()">Submit</button>
            <button (click)="changeUploader()" type="button" class="btn ms-auto btn-link">{{status}}</button>
          </div>

          <div *ngIf="admin">
            <button type="submit" class="btn btn-sm btn-outline-primary" (click)="adminRegister()">Register</button>
          </div>
        </form>

    </div>
  </div>
</div>


