

<div class="container my-5 w-50">
  <div class="card rounded shadow">
    <div class="card-header">
      <h4><i class="bi bi-file-arrow-up-fill"></i> Sign up</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="signupForm">

          <app-form-group [valid]="signupForm.get('name')!.valid" label="UserName">
            <input formControlName="name" type="text" class="form-control" placeholder="Enter your name">
          </app-form-group>

          <app-form-group [valid]="signupForm.get('email')!.valid" label="Email">
            <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
          </app-form-group>

          <app-form-group [valid]="signupForm.get('password')!.valid" label="Password">
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </app-form-group>

          <div *ngIf="uploader">

            <app-form-group [valid]="signupForm.get('companyName')!.valid" label="Company Name">
              <input formControlName="companyName" type="text" class="form-control" placeholder="Company Name">
            </app-form-group>

            <app-form-group [valid]="signupForm.get('paymentMethod')!.valid" label="Payment option">
              <select class="form-select form-select-sm" formControlName="paymentMethod" aria-label="Default select example">
                <option [value]="p.name" *ngFor="let p of payments$">{{p.name}}</option>
              </select>
            </app-form-group>

            <app-form-group [valid]="signupForm.get('transactionNumber')!.valid" label="Transaction Number">
              <input formControlName="transactionNumber" type="tel" class="form-control" placeholder="Transaction Number">
            </app-form-group>

          </div>

          <div class="d-flex" *ngIf="!admin">
            <button type="submit" class="btn btn-sm btn-outline-primary ms-auto" (click)="register()">Register</button>
            <button (click)="changeUploader()" type="button" class="btn btn-outline-info ms-2 text-dark btn-link">{{status}} form</button>
          </div>

          <div *ngIf="admin">
            <button type="submit" class="btn btn-sm btn-outline-primary" (click)="register()">Register</button>
          </div>
        </form>

    </div>
  </div>
</div>



