
    <div class="container my-5 w-50">
      <div class="card">
        <div class="card header">
          <h3><i class="bi bi-cart-fill"></i>Buy Package</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="packageForm">
            <app-form-group [valid]="packageForm.get('package')!.valid" label="package">
              <input formControlName="package" type="package" class="form-control" placeholder="Choose your package">
            </app-form-group>

            <app-form-group [valid]="packageForm.get('quantity')!.valid" label="quantity">
              <input formControlName="quantity" type="number" class="form-control" placeholder="Select Quantity">
            </app-form-group>

            <button type="submit" class="btn btn-primary" (click)="submitForm()">Buy</button>

          </form>
        </div>
      </div>
    </div>





