<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-fas fa-circle-user"></i>          
      Project Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse offset-10" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-4"></i>          
          </a>
          <ul class="dropdown-menu">
            <li class=>
              <a class="dropdown-item" [routerLink]="['/user', 'sign-up']" routerLinkActive="active">Sign Up</a>
            </li>
            <li class=>
              <a class="dropdown-item" [routerLink]="['/user', 'sign-in']" routerLinkActive="active">Sign In</a>
            </li>
          </ul>
        </li>
      </ul>
      
      
    </div>
  </div>
</nav>


<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
