<div class="container mt-5">
  <div class="row">
    <!-- <table [ngClass]="{'table-dark':isNight, 'table-striped':!isNight}" class="table"> -->
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Category</th>
          <th>Actor</th>
          <th>Actress</th>
          <th>Publisher</th>
          <th>Released Date</th>
          <th>Length</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let movie of movieList">
          <td>{{movie.id}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.category.name}}</td>
          <td>{{movie.actor}}</td>
          <td>{{movie.actress}}</td>
          <td>{{movie.publisher}}</td>
          <td>{{movie.released}}</td>
          <td>{{movie.length}}</td>
          <td class="text-center">
            <button class="btn btn-danger me-2">
              <i class="bi bi-trash"></i> Delete</button>
            <button class="btn btn-warning">
              <i class="bi bi-pencil"></i> Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>