<div class="container mt-2">
  <div class="row d-flex justify-content-center shadow-sm p-3">
    <a class="btn btn-primary col-sm- col-md-3 p-4 me-5" [routerLink]="['/admin/user-list']" >
      <i class="bi bi-people" style="font-size: 50px;"></i>
      <div class="row">
        <span>
          All User
        </span>
        <small style="font-size: 18px;">{{userCount}}</small>
      </div>
    </a>

    <a class="btn btn-warning col-sm col-md-3 p-4 me-5" [routerLink]="['/admin/movie-list']">
      <i class="bi bi-film" style="font-size: 50px;"></i>
      <div class="row">
        <span>
          Movie
        </span>
        <small style="font-size: 18px;">{{movieCount}}</small>
      </div>
    </a>

    <a class="btn btn-success col-sm col-md-3 p-4" [routerLink]="['/admin/movie-list']">
      <i class="bi bi-film" style="font-size: 50px;"></i>
      <div class="row">
        <span>
          Packaging
        </span>
        <small style="font-size: 18px;">{{userCount}}</small>
      </div>
    </a>
  </div>

  <div>
    <a data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
  </div>
</div>




