<div class="container-fluid mt-2 ms-2">
  <div class="row">

    <div class="col-2 mt-3">
      <div class="card ms-2 me-auto">
        <div class="card-header text-center">
          <h2>Genres</h2>
        </div>
        <div class="card-body">
          <ul *ngFor="let cat of categories" class="list-group">
            <button class="nav-link text-start" (click)="mvListWithCat(cat.name)">
              <li class="list-group-item list-group-item-action">{{cat.name}}</li>
            </button>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-3 mt-3" *ngFor="let movie of movies">
          <div class="shadow" style="height: 300px; width: 350;" >
            <div class="card-body">
              <img style="width: 250px; height: 250px;" src={{movie.photo}} class="card-img-top img-thumbnail" alt="..." >
            </div>
            <div class="card-body" style="background-color: rgb(199, 201, 219); height: 54px;">
              <a href="" [routerLink]="['/user/movie-details',movie.id]" class=" text-secondary align-middle nav-link">
                <p class="card-title fw-semibold text-center text-truncate"><i class="bi bi-film"></i> {{movie.title}}</p>
                <p class="card-title fw-semibold text-center">~{{movie.released}}~</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




























<!-- <div>
  <div class="container mt-5">
    <div class="row justify-content-end mb-5">

      <div class="col-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions" style="background-color: rgb(35, 30, 53);"
          aria-controls="offcanvasWithBothOptions">categories</button>
      </div>
      <div class="col">

        <form [formGroup]="searchWord" class="input-group ms-auto shadow-sm" style="width: 7cm;" role="search">
          <input class="form-control" formControlName="keyword" type="search" placeholder="Search anything here...."
            aria-label="Search">
          <button class="btn btn-outline-success" id="search" (click)="search()" type="submit"><i
              class="bi bi-search"></i></button>
        </form>
      </div>
    </div>



    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fst-italic" id="offcanvasWithBothOptionsLabel">Category List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <ul *ngFor="let cat of categories" class="list-group">
            <button class="nav-link text-start" (click)="mvListWithCat(cat.name)">
              <li class="list-group-item list-group-item-action">{{cat.name}}</li>
            </button>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" *ngFor="let movie of movies">
        <div class="card rounded shadow mt-5">
          <img src={{movie.photo}} class="card-img-top" alt="...">
          <div class="card-body rounded" style="background-color: rgb(35, 30, 53);">
            <a href="" [routerLink]="['/user/movie-details',movie.id]"
              class="text-light card-title align-middle nav-link">
              <p class="card-title fst-italic fw-medium text-center" style="height: 3rem;"><i class="bi bi-film"></i>
                {{movie.title}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col" *ngFor="let movie of movies">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/600x400/?ww2" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <a class="col-md-4 justify-content-center"
              [routerLink]="['/user/movie-details', movie.id]">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="">
    <ul class="pagination mt-5 justify-content-center">
      <li class="page-item page">
        <a class="page-link active" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link active" aria-current="page" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link active" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div> -->
