<div class="container">
    <div class="row" >
        <div class="col-md-4" *ngFor="let movie of movies">
          <div class="card mb-3">
            <img src="" class="card-img-top" alt="">
            <div class="card-body">
              <div class="card-title">{{movie.title}}</div>
              <p class="card-text">{{movie.producer}}</p>
    
              <div class="d-flex justify-content-between">
                <small class="card-text">${{movie.actor}}</small>
                <small class="card-text">{{movie.actress}}</small>
              </div>
              <button class="btn btn-primary btn-block" [routerLink]="['/movie-details',movie.id]">Details</button>
    
            </div>
          </div>
    
        </div>
      </div>
</div>
