<div class="container mt-5">
  <div class="row justify-content-end mb-5">
    <div class="col w-25">
      <form class="input-group w-25 ms-auto shadow-sm" role="search">
        <input class="form-control" type="search" placeholder="Search anything here...." aria-label="Search">
        <button class="btn btn-outline-success" (click)="search()" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let movie of movies">
      <div class="card mt-5">
        <img src="https://source.unsplash.com/600x400/?ww2" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="container">
            <p class="card-text align-self-center" style="height: 3rem;">{{movie.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col" *ngFor="let movie of movies">
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/600x400/?ww2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <a class="col-md-4 justify-content-center"
            [routerLink]="['/user/movie-details', movie.id]">{{movie.title}}</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

