<!-- <div class="fixed-top "> -->
  <nav class="navbar navbar-expand shadow">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="navbar-brand mt-2 ms-4">&nbsp;Hello Future</h1>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="#" routerLinkActive="active" class="nav-link me-auto"><i class="bi bi-house-door-fill fs-4"></i></a>

      <div class="col">
        <form [formGroup]="searchWord" class="input-group ms-auto shadow-sm" style="width: 7cm;" role="search">
          <input class="form-control" formControlName="keyword" type="search" placeholder="Search anything here...." aria-label="Search">
          <button class="btn btn-outline-success" id="search" (click)="search()" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>  

      <ul class="navbar-nav">
        <div *ngIf="userService.validatedUser">
          <li class="nav-item">
            <a [routerLink]="['/user/account']" routerLinkActive="active" class="nav-link mt-1">
              <i class="bi bi-house-gear-fill fs-3"></i>
            </a>
          </li>
        </div>

        <div *ngIf="userService.validatedUser">
          <li class="nav-item">
            <a [routerLink]="['/user/library']" routerLinkActive="active" class="nav-link mt-2">
              <i class="bi bi-bookmarks-fill fs-4"></i>
            </a>
          </li>
        </div>

        <div>
        <div *ngIf="userService.validatedUser">
          <a class="nav-link mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-gem fs-4"></i>
          </a>
        </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Purchase premium packages for more services.
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <i class="bi bi-film"></i>&nbsp;&nbsp;Premium latest movies and old movies
                  <hr>
                  <i class="bi bi-badge-ad-fill"></i>&nbsp;&nbsp;AD-Free
                  <hr>
                  <i class="bi bi-download"></i>&nbsp;&nbsp;Download
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <div *ngIf="userService.validatedUser">
                    <button type="button" class="btn btn-primary"><a [routerLink]="['/user/buy']">Go to buy</a></button>
                  </div>
                  <!-- <div *ngIf="!userService.validatedUser">
                    <button type="button" class="btn btn-outline-primary me-2"><a [routerLink]="['/user/sign-up']"
                        routerLinkActive="active">Sign Up</a></button>
                    <button type="button" class="btn btn-outline-primary"><a [routerLink]="['/user/sign-in']"
                        routerLinkActive="active">Sign In</a></button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropstart me-3">
              <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-person-circle fs-3"></i>
              </a>

              <ul class="dropdown-menu">
                <div *ngIf="userService.validatedUser">
                  <li><a class="dropdown-item" [routerLink]="['/user/sign-in']" routerLinkActive="active">Sign out</a>
                  </li>
                </div>
                <div *ngIf="!userService.validatedUser">
                  <li><a class="dropdown-item" [routerLink]="['/user/sign-in']" routerLinkActive="active">Sign In</a>
                  </li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
<!-- </div> -->
